<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SqlRetryPolicyProviders" type="Microsoft.Data.SqlClient.Reliability.SqlRetryPolicyProviderConfigurationSection, Microsoft.Data.SqlClient, Version=1.0.0.0" />
  </configSections>
  <SqlRetryPolicyProviders>
    <providers>
      <add name="SqlConnectionRetryLogic" type="Microsoft.Data.SqlClient.Reliability.DefaultRetryLogicProvider, Microsoft.Data.SqlClient"
           retrystrategy="FixedInterval" RetryCount="3" RetryInterval="8" RetryIncrement="8" RetriableErrors="+208,10061+"     
      />
      <add name="SqlCommandRetryLogic" type="Microsoft.Data.SqlClient.Reliability.DefaultRetryLogicProvider, Microsoft.Data.SqlClient" 
           retrystrategy="FixedInterval" RetryCount="3" RetryInterval="8" RetryIncrement="8" RetriableErrors="+208,10061+"           
      />
    </providers>
  </SqlRetryPolicyProviders>
</configuration>
